@use "../../app/_variables.scss" as *;

.mainSection {
    padding: 20px;
    border-radius: 10px;
    max-width: 1500px;
    margin: 0 auto;
    gap: 150px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-family: $primary-font;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 30px;
        padding: 10px;
        margin: 10px;
    }
}

.mainSectionDescription {
    color: $secondary-color;
    font-weight: 600;
    line-height: 1.7;
    text-align: justify;
    margin-right: 20px;

    @media (max-width: 768px) {
        margin-right: 0;
        max-width: 100%;
    }
}

.mainSectionTitle {
    font-size: 2.2rem; /* Büyük başlık boyutu */
    color: #222; /* Koyu başlık rengi */
    font-weight: 800; /* Daha kalın yazı */
    letter-spacing: 1.5px; /* Harfler arası geniş boşluk */
    text-transform: uppercase; /* Büyük harf */
    padding: 20px 0; /* Üst ve alt boşluk */
    position: relative; /* Alt çizgiyi yerleştirmek için gerekli */
    max-width: 80%;
    margin: 0 auto;

}



.mainSectionImage {
    max-width: 400px;
    max-height: 500px;
    border-radius: 20%;

    @media (max-width: 768px) {
       display: none;
    }
}

.mainSectionBoxButton {
    display: flex;
    gap: 20px;
    align-items: center;
}

.mainSectionButton {
    border: 2px solid $secondary-color;
    color: $secondary-color;
    padding: 12px 25px;
    border-radius: 12px;
    font-weight: 600;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.6); // Semi-transparent background
    backdrop-filter: blur(8px); // Background blur effect
    
    &:hover {
        background-color: rgba(255, 255, 255, 0.8); // Slightly more opaque on hover
        color: $primary-color;
        transform: translateY(-2px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    &:active {
        transform: translateY(0);
        box-shadow: none;
    }
}
 
.mainSectionContainer {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 30px;
    }
}