@use "../../app/_variables.scss" as *;

.mainSection{
    padding: 20px;
    border-radius: 10px;
    gap: 150px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $primary-font;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 30px; // Küçük ekranlar için boşluk
        padding: 10px;
        margin: 10px;
    }
}
.mainSectionDescription {
    color: $secondary-color;
    font-weight: 500;
    line-height: 1.5;
    text-align: justify;  // Metni iki yana yaslar
}

.mainSectionImage {
    max-width: 400px;
    max-height: 500px;
    border-radius: 20%;

    @media (max-width: 768px) {
        max-width: 250px;
        max-height: 200px;
    }
}

.mainSectionButton {
    border: 2px solid $secondary-color; 
    color: $tertiary-color;
    padding: 10px 20px; 
    border-radius: 10px; 
    font-weight: 500; 
    text-align: center; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease; 
    text-decoration: none; 
    background-color: transparent; 
    
    &:hover {
        background-color: $secondary-color; 
        color: white; 
    }
}
