@use "../../app/_variables.scss" as *;

.ınformSection {
    background-color: $primary-color;
    margin: 0 auto;
    max-width: 1510px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
    
    // Media query to hide the element at a specific screen width
    @media (max-width: 768px) {
        display: none; // The element will be hidden when the screen width is 768px or less
    }
}


.ınformSectionOne{
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 1;
}

.ınformSectionTwo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.ınformSectionLink {
    color: $secondary-color;
    font-family: $primary-font;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.ınformSectionLink:hover {
    color: $tertiary-color;
}

.ınformSectionLinKTwo {
    display: flex;
    align-items: center;
}

.ınformSectionTwo{
    display: flex;
    gap: 20px;
    align-items: center;
}