@use "../../app/_variables.scss" as *;

.informSection {
    background-color: $primary-color; // Temel arka plan rengi
    margin: 0 auto;
    max-width: 1510px; // Maksimum genişlik
    height: auto; // Yüksekliği otomatik yaparak içerik alanını açıyoruz
    display: flex; // Flex düzeni
    align-items: center; // Dikey ortalama
    justify-content: space-between; // Öğeler arasındaki boşluğu ayarla
    border-radius: 10px; // Daha yumuşak köşeler için kenar yuvarlama
    padding: 10px 20px; // İç boşluğu artır
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); // Gölgelendirme efekti

    // Media query ile belirli ekran genişliklerinde görünürlüğü ayarlayın
    @media (max-width: 768px) {
        display: none; // 768px ve altı ekranlarda gizler
    }
}

.informSectionOne {
    display: flex; // Flex düzeni
    gap: 25px; // Elemanlar arasındaki boşluk
    align-items: center; // Dikey ortalama
    flex: 1; // Bu sayede bu bölüm eşit genişler
}

.informSectionLink,
.informSectionLinkTwo {
    color: $secondary-color; // Yazı rengi
    font-family: $primary-font; // Yazı tipi
    font-size: 14px; // Yazı boyutu
    font-weight: 600; // Yazı kalınlığı
    text-decoration: none; // Altı çizili değil
    display: flex; // Flex düzeni
    align-items: center; // Dikey ortalama
    transition: color 0.3s, transform 0.3s; // Geçiş efekti

    // Hover durumu
    &:hover {
        color: $tertiary-color; // Hover durumunda renk değişimi
        transform: scale(1.05); // Hoverda biraz büyüme
    }
}

.dateTimeAndSocialContainer {
    display: flex; // Flex düzeni
    align-items: center; // Dikey ortalama
    flex: 1; // Alanı kaplaması için
    justify-content: space-between; // Sosyal medya simgeleri ve tarih/saat arasında boşluk
}

.dateTimeContainer {
    display: flex; // Flex düzeni
    flex-direction: column; // Dikey sıralama
    align-items: flex-end; // Sağ tarafa hizalama
}

.currentDate {
    font-size: 16px; // Tarih yazı boyutu
    color: $tertiary-color; // Tarih yazı rengi
    font-weight: 700; // Kalın yazı
    margin-bottom: 2px; // Tarih ile saat arasında boşluk
    text-align: right; // Sağa hizalama
}

.currentTime {
    font-size: 16px; // Saat yazı boyutu
    color: $tertiary-color; // Saat yazı rengi
    font-weight: 700; // Kalın yazı
    text-align: right; // Sağa hizalama
}
