@use "../../app/_variables.scss" as *;

.abilities {
    padding: 20px;
    font-family: $primary-font;
}

.abilitiesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3-column grid */
    gap: 20px; /* Gap between cells */
    max-width: 1500px;
    margin: 0 auto;
}

.ability {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $primary-font;
    border: 1px solid $secondary-color;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6); /* Yarı saydam arka plan */
    backdrop-filter: blur(8px); /* Arka plan bulanıklığı efekti */
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Geçiş efektleri */
    cursor: pointer; /* Fare imleci hover'da gösterim */

    /* Mobil cihazlar için optimizasyon */
    @media (max-width: 768px) {
        padding: 12px;
        gap: 8px;
        font-size: 0.9rem; /* Daha küçük ekranlarda yazı boyutu */
    }

    &:hover {
        transform: scale(1.05); /* Hafif büyütme efekti */
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Gölgeyi biraz büyüttüm */
        background-color: rgba(255, 255, 255, 0.85); /* Hover'da daha opak */
    }

    &:active {
        transform: scale(0.98); /* Tıklama anında hafif küçülme efekti */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Gölge hafifletildi */
    }
}


.abilityName {
    margin-top: 10px;
    color: $secondary-color;
    font-weight: 500;
}

.abilitiesTitle {
    font-size: 2.5rem; /* Başlık boyutunu büyütür */
    color: #333; /* Başlık rengi */
    text-align: center; /* Ortalar */
    font-weight: 700; /* Kalın yazı stili */
    letter-spacing: 1px; /* Harfler arası boşluk */
    padding-bottom: 20px; /* Alt kısımdan boşluk */
    margin-bottom: 30px; /* Başlıktan sonra boşluk bırakır */
    position: relative; /* Altındaki çizgiyi yerleştirmek için gerekli */
}

.abilitiesTitle::after {
    content: '';
    width: 60px; /* Çizginin genişliği */
    height: 4px; /* Çizginin kalınlığı */
    background-color: #0073e6; /* Çizgi rengi */
    display: block;
    margin: 0 auto; /* Ortalar */
    margin-top: 10px; /* Başlık ile çizgi arası boşluk */
    border-radius: 2px; /* Yuvarlatılmış kenarlar */
}


/* Responsive design */
@media (max-width: 1024px) {
    .abilitiesContainer {
        grid-template-columns: repeat(2, 1fr); /* 2-column grid */
    }
}

@media (max-width: 768px) {
    .abilitiesContainer {
        grid-template-columns: 1fr; /* 1-column grid */
    }
    
    .abilities {
        padding: 10px;
    }

    .ability {
        flex-direction: column; /* Vertical alignment */
        padding: 20px;
    }
}
