@use "../../app/_variables.scss" as *;

.abilities {
    padding: 20px;
    font-family: $primary-font;
}

.abilitiesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3-column grid */
    gap: 20px; /* Gap between cells */
}

.ability {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $primary-font;
    border: 1px solid $secondary-color;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
    backdrop-filter: blur(8px); /* Background blur effect */
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Transition effects */

    &:hover {
        transform: scale(1.05); /* Slight scale up */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Elevated shadow */
        background-color: rgba(255, 255, 255, 0.8); /* More opaque on hover */
    }
}

.abilityName {
    margin-top: 10px;
    color: $secondary-color;
    font-weight: 500;
}

.abilitiesTitle {
    color: $secondary-color;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

/* Responsive design */
@media (max-width: 1024px) {
    .abilitiesContainer {
        grid-template-columns: repeat(2, 1fr); /* 2-column grid */
    }
}

@media (max-width: 768px) {
    .abilitiesContainer {
        grid-template-columns: 1fr; /* 1-column grid */
    }
    
    .abilities {
        padding: 10px;
    }

    .ability {
        flex-direction: column; /* Vertical alignment */
        padding: 20px;
    }
}
